<section data-ng-controller="HomeController">
	</br>
	<h2 class="text-center"> Welcome To Professional Link</h2>
	<br/>
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-success btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>GERMANY</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">IT PROFESSIONAL</span>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-primary btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>INDIA</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">SOFTWARE ENGINEER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-warning btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>USA</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">MANAGING DIRECTOR</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-info btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>AUSTRALIA</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">DEVELOPER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-danger btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>UK</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">INVESTOR</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-success btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>CANADA</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">GRAPHIC DESIGNER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-primary btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>BRAZIL</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">PROJECT MANAGER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-warning btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>FRANCE</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">HR RECRUITER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-info btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>THAILAND</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">IT SUPPORTER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-danger btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>JAPAN</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">RESEARCHER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-success btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>CHINA</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">HACKER</span>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-2">
					<h1>
						<button type="button" class="btn btn-primary btn-lg">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-xs-10">
					<h1>SPAIN</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<span class="text-muted">UX/UI DESIGNER</span>
				</div>
			</div>
		</div>
	</div>
</section>
